{% extends "base.html.twig" %}

{% block body %}
<div>
    <div class="container">
        <div class='menu-order'>
            <ul class="nav nav-tabs row">
                <li class="nav-item mx-auto">
                    <a class="nav-link" data-toggle="tab" href={{ path('order_step_1') }}>Commande</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link" data-toggle="tab" href={{ path('order_step_2') }}>Informations</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link active" href={{ path('order_step_3') }}>Paiement</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link disabled" href={{ path('order_step_4') }}>Confirmation</a>
                </li>
            </ul>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
        </div>

        <div class='row'>
            <div class="col-md-12 col-lg-9 recap-billets">
                <div class='col-12'>
                    <h3>Votre paiement</h3>
                </div>
                <div class='col-12'>
                    <form action="#" method="post" id="payment-form" class='credit-card'>
                        <div class="form-row">
                            <div class="order-label col-12">
                                <div class="row col-12 justify-content-between">
                                    <div class="text-order-label">
                                        Carte de crédit
                                    </div>
                                    <div>
                                        <span class="fas fa-credit-card"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div id="card-element" class="StripeElement StripeElement--empty"></div>
                            </div>
                        </div>

                        <!-- Used to display form errors. -->
                        <div id="card-errors" role="alert" class="text-center"></div>

                         <!-- Button test -->
                        <button class="btn btn-primary btn-lg btn-block btn-std" type="submit">Payer votre commande</button>
                    </form>
                </div>
                <div class='col-12'>
                    <h5>Commande n° {{ buyer.code }}</h5>
                    
                </div>

                {% for b in billet %}
                <div class='col-12'>
                    <tr>
                        <td><strong>Billet n°{{ loop.index }}</strong></td>
                        <td><strong>{{ b.name }} {{ b.firstname }}</strong></td>
                        <td><strong>{% if buyer.typeBillet == 1 %}Journée{% else %}Demi-journée{% endif %}</strong></td>
                        <td><strong>{{ b.price }} €</strong></td>
                        {% if b.reducedPrice == 1 %}<td><strong>Tarif Réduit</strong></td>{% endif %}
                    </tr>
                </div>
                {% endfor %}
            </div>
            
            <div class="mb-3 col-md-12 col-lg-3">
                <div class='card'>
                    <h5 class="card-header">Votre commande</h5>
                    <table class="table-card">
                        <tbody>
                            <tr>
                                <td><span class="fa fa-calendar"></span></td>
                                <td><strong class="resume_date">{{ buyer.visitDay|date('d/m/Y') }}</strong></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-clock"></span></td>
                                <td><strong class="resume_hours">{% if buyer.typeBillet == 1 %}9h - 18h{% else %}14h - 18h{% endif %}</strong></td>
                            </tr>
                            <tr>
                                <td><span class="fa fa-ticket-alt"></span></td>
                                <td><strong class="resume_ticket">X {{ buyer.nbBillet }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <button class="btn btn-primary btn-lg btn-block btn-std" type="submit">Payer votre commande</button>

                    <h5 class="card-header recap">Total de votre commande</h5>

                    <p>{{ buyer.total }} €</p>

                </div>
            </div>
        </div>
    </div>
    {% include 'parts/footer.html.twig' %}
</div>
{% endblock %}

