{% extends "base.html.twig" %}

{% block body %}
<div>
    <div class="container">
        <div class='menu-order'>
            <ul class="nav nav-tabs row">
                <li class="nav-item mx-auto">
                    <a class="nav-link disabled" data-toggle="tab" href={{ path('order_step_1') }}>Commande</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link disabled" data-toggle="tab" href={{ path('order_step_2') }}>Informations</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link disabled" href={{ path('order_step_3') }}>Paiement</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link active" href={{ path('order_step_4') }}>Confirmation</a>
                </li>
            </ul>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 order-md-1">
                <h4 class="text-center">Confirmation de commande</h4>
                <hr class="mb-4">
                <p class="text-center">Merci de votre commande sur le Musée du Louvre.</p>
                <p class="text-center">Nous confirmons avoir bien reçu votre commande N°{#{{ buyer.code }}#}. </p>
                <p class="text-center">Vous allez recevoir un mail de confirmation avec vos tickets.</p>
                <div class="row justify-content-md-center">
                    <div class="col-lg-5">
                        <a href={{ path('accueil') }}><button class="btn btn-primary btn-md btn-block btn-std" name="submit" type="submit">Retour à l'accueil</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'parts/footer.html.twig' %}
</div>
{% endblock %}