{% extends "base.html.twig" %}

{% form_theme formStep2 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Information de chaque billets</h1>

    {{ form_start(formStep2) }}

    {{ form_row(formStep2.lastname, {'label' : 'Nom', 'attr' : {'placeholder' : 'Nom'}}) }}
    {{ form_row(formStep2.name, {'label' : 'Prénom', 'attr' : {'placeholder' : 'Prénom'}}) }}
    {{ form_row(formStep2.birthdayDate, {'label' : 'Date de naissance'}) }}
    {{ form_row(formStep2.save, {'label' : 'Envoyer'}) }}

    {{ form_end(formStep2) }}

{% endblock %}